# Środowisko wirtualne
venv/
ENV/
env/

# Python (pliki tymczasowe)
__pycache__/
*.py[cod]
*$py.class

# Django (lokalna baza danych i sekrety)
db.sqlite3
.env
local_settings.py

# Systemowe
.DS_Store
Thumbs.db